.err {

  #code {
    padding-top: 16vh;
    text-align: center;
  }
  #title {
    padding-top: 4vh;
    text-align: center;
  }
  #message {
    padding-top: 4vh;
    text-align: center;
  }






}














