.nav-bar {
  background-color: rgb(224, 230, 230);

}


.nav-top {
  padding-top: 16rem;
}
.top-set {
  position: relative;
  top: 2rem;
  padding: 0rem 26rem;
  // margin-left: calc(env(safe-area-inset-left) * 26);
  // padding-left: calc(constant(safe-area-inset-left));
  // padding-right: calc(env(safe-area-inset-right));
  // padding-right: calc(constant(safe-area-inset-right));
}
.nav-top-line {
  background-color: var(--black); 
}



.logo-gunn {
  width: 90rem;
  height: fit-content;
  margin-top: 4rem;
}


.btn-toggle--darkmode {
  width: 32rem;
  margin-left: 10rem;
  height: fit-content;
}



.nav-links--expand {
  gap: 64rem;
  margin-top: 5rem;
}


.nav-item {
  width: fit-content;
  height: fit-content;
}

.nav-item-text {
  a {
    color: var(--black);
  }
}
.nav-item-line {
  background-color: var(--black);
}
