

// SVG ANIMATIONS =============================

@mixin make-all-ease($val) {
  .all-ease-#{$val*100}{
    transition: all (($val * 100) + ms) ease;
  }
} @for $i from 1 through 30 {
  @include make-all-ease($i);
}


// COMP TRANSITIONS ============================

.animation-prop-examples {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

@keyframes progress-bar-done {
  0%, 100%{background-color: var(--accent0);}
  50% {background-color: var(--accent3);}
}


.tr-nav-top {
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(.34,.25,.61,.98);
  transition-delay: 0ms;
}



// VUE TRANSITIONS ============================

@mixin nav-item-fade($val) {
  .nav-item-fade-#{$val}-enter-active{
    transition: all 500ms ease (($val * 100) + ms);
  }
  .nav-item-fade-#{$val}-leave-active {
    transition: all 500ms ease;
  }
  .nav-item-fade-#{$val}-enter-from,
  .nav-item-fade-#{$val}-leave-to {
    transform: translateY(10rem);
    opacity: 0;
  }
} @for $i from 1 through 8 {
  @include nav-item-fade($i);
}


