
// ---- btn_darkmode ----------------------

#icon-mode * {
  transition: all 600ms ease;
  transform-origin: 50% 50%
}
@mixin p-eye($val) {
  #p-eye-#{$val}{
    .p-eye--light {
      stroke-width: 12.0;
      transform: rotate(($val * (-45))+deg)
    }
  }
} @for $i from 1 through 4 {
  @include p-eye($i);
}
.p-cover--light {
  // transform: r(8);
  transform:scale(8);
}
.p-pupil--light {
  transform:scale(1.5);
}
.p-eye--dark {
  transform: scale(0.2);
  stroke-width: 12.0;
}
.p-pupil--dark {
  transform: scale(2.75);
  stroke-width: 1.6;
}
.p-cover--dark {
  transform: scale(10);
}
.p-moon--dark {
  transform: rotate(-30deg) scale(2.4);
  stroke-width: 4;
}




// ---- btn_menu --------------------------

#icon-menu * {
  transition: all 600ms ease;
  transform-origin: 50% 50%
}
#g-line-1 {
  .p-line--on {
    transform-origin: 50% 7rem;
    transform: translateY(5rem) rotate(45deg) ;
  }
}
#g-line-2 {
  .p-line--on {
    transform-origin: 50% 50%;
    opacity: 0;
  }
  .p-line--off {
    transform-origin: 50% 50%;
    opacity: 1;
  }
}
#g-line-3 {
  .p-line--on {
    transform-origin: 50% 17rem;
    transform: translateY(-5rem) rotate(-45deg) ;
  }
}