// Inter_SD : 200  (300)  [400]  (500)  (600)  800 
// Syncopate : (400)  [700] 



@mixin Typeface($family, $weight) {
  font-family: $family;
  font-weight: $weight;
}
@mixin FontSquare($size, $ls, $lh) {
  font-size: $size;
  letter-spacing: $ls;
  line-height: $lh;
  word-wrap:break-word;
}
@mixin marginBlock($start, $end) {
  margin-block-start: $start;
  margin-block-end: $end;
}



@mixin EnHeader($index, $size, $ls, $lh, $block-start, $block-end) {
  .typo-header#{$index} {
    @include Typeface('Syncopate',700);
    @include FontSquare($size, $ls, $lh);
    @include marginBlock($block-start, $block-end);
  }
}
@mixin Body($index, $size, $ls, $lh, $block-start, $block-end) {
  .typo-body#{$index} {
    @include Typeface('Inter_SD',400);
    @include FontSquare($size, $ls, $lh);
    @include marginBlock($block-start, $block-end);
  }
}
@mixin Caption($index, $size, $ls, $lh, $block-start, $block-end) {
  .typo-caption#{$index} {
    @include Typeface('Inter_SD',400);
    @include FontSquare($size, $ls, $lh);
    @include marginBlock($block-start, $block-end);
  }
}
@mixin Marks($index, $size, $ls, $lh, $block-start, $block-end) {
  .typo-mark#{$index} {
    @include Typeface('Syncopate',700);
    @include FontSquare($size, $ls, $lh);
    @include marginBlock($block-start, $block-end);
    text-transform: uppercase;
  }
}



@mixin WeightExtend($origin, $ext, $weight) {
  #{$origin}--#{$ext} {
    @extend #{$origin};
    font-weight: $weight;
  }
}
@mixin SizeAdjust($origin, $var) {
  #{$origin} {
    font-size: $var
  }
}



// ------------- TYPO : - HEADER --------------

@include EnHeader(1, 96rem, -0.02rem, 0.9, 0rem, 0rem);
  @include WeightExtend('.typo-header1', 'light', 400);
@include EnHeader(2, 72rem, -0.02rem, 0.89, 0rem, 0rem);
  @include WeightExtend('.typo-header2', 'light', 400);
@include EnHeader(3, 64rem, -0.013rem, 0.88, 0rem, 0rem);
  @include WeightExtend('.typo-header3', 'light', 400);
@include EnHeader(4, 44rem, -0.013rem, 0.86, 0rem, 0rem);
  @include WeightExtend('.typo-header4', 'light', 400);
@include EnHeader(5, 32rem, -0.01rem, 0.89, 0rem, 0rem);
  @include WeightExtend('.typo-header5', 'light', 400);
@include EnHeader(6, 24rem, -0.005rem, 0.92, 0rem, 0rem);
  @include WeightExtend('.typo-header6', 'light', 400);



// ------------- TYPO : BODY ------------------
@include Body(1, 18.4rem, 0.0rem, 1.45, 0rem, 0rem);
  @include WeightExtend('.typo-body1', 'light', 300);
  @include WeightExtend('.typo-body1', 'thick', 500);
@include Body(2, 16.4rem, 0.0rem, 1.50, 0rem, 0rem);
  @include WeightExtend('.typo-body2', 'light', 300);
  @include WeightExtend('.typo-body2', 'thick', 500);
@include Body(3, 14.4rem, 0.0rem, 1.58, 0rem, 0rem);
  @include WeightExtend('.typo-body3', 'light', 300);
  @include WeightExtend('.typo-body3', 'thick', 500);



// ------------- TYPO : CAPTION ---------------
@include Caption(1, 26rem, 0.005rem, 1.35, 0rem, 0rem);
  @include WeightExtend('.typo-caption1', 'light', 300);
  @include WeightExtend('.typo-caption1', 'thick', 600);
@include Caption(2, 23rem, 0.005rem, 1.30, 0rem, 0rem);
  @include WeightExtend('.typo-caption2', 'light', 300);
  @include WeightExtend('.typo-caption2', 'thick', 600);
@include Caption(3, 20rem, 0.005rem, 1.30, 0rem, 0rem);
  @include WeightExtend('.typo-caption3', 'light', 300);
  @include WeightExtend('.typo-caption3', 'thick', 600);
@include Caption(4, 17rem, 0.005rem, 1.40, 0rem, 0rem);
  @include WeightExtend('.typo-caption4', 'light', 300);
  @include WeightExtend('.typo-caption4', 'thick', 600);
@include Caption(5, 14rem, 0.005rem, 1.40, 0rem, 0rem);
  @include WeightExtend('.typo-caption5', 'light', 300);
  @include WeightExtend('.typo-caption5', 'thick', 600);
@include Caption(6, 11rem, 0.005rem, 1.50, 0rem, 0rem);
  @include WeightExtend('.typo-caption6', 'light', 300);
  @include WeightExtend('.typo-caption6', 'thick', 600);



// ------------- TYPO : MARK ------------------
@include Marks(1, 26rem, 0.04rem, 1.4, 0rem, 0rem);
  @include WeightExtend('.typo-mark1', 'light', 400);
@include Marks(2, 23rem, 0.04rem, 1.4, 0rem, 0rem);
  @include WeightExtend('.typo-mark2', 'light', 400);
@include Marks(3, 20rem, 0.048rem, 1.4, 0rem, 0rem);
  @include WeightExtend('.typo-mark3', 'light', 400);
@include Marks(4, 17rem, 0.056rem, 1.5, 0rem, 0rem);
  @include WeightExtend('.typo-mark4', 'light', 400);
@include Marks(5, 14rem, 0.064rem, 1.5, 0rem, 0rem);
  @include WeightExtend('.typo-mark5', 'light', 400);
@include Marks(6, 11rem, 0.072rem, 1.6, 1rem, 1rem);
  @include WeightExtend('.typo-mark6', 'light', 400);







.XXS{
  @include SizeAdjust('.typo-header1', 63rem);
  @include SizeAdjust('.typo-header2', 56rem);
  @include SizeAdjust('.typo-header3', 49rem);
  @include SizeAdjust('.typo-header4', 42rem);
  @include SizeAdjust('.typo-header5', 34rem);
  @include SizeAdjust('.typo-header6', 27rem);
}

.XS{
  @include SizeAdjust('.typo-header1', 64rem);
  @include SizeAdjust('.typo-header2', 57rem);
  @include SizeAdjust('.typo-header3', 50rem);
  @include SizeAdjust('.typo-header4', 44rem);
  @include SizeAdjust('.typo-header5', 36rem);
  @include SizeAdjust('.typo-header6', 29rem);
}

.L , .XL , .XXL {
  @include SizeAdjust('.typo-header1', 114rem);
  @include SizeAdjust('.typo-header2', 84rem);
  @include SizeAdjust('.typo-header3', 68rem);
  @include SizeAdjust('.typo-header4', 50rem);
  @include SizeAdjust('.typo-header5', 38rem);
  @include SizeAdjust('.typo-header6', 29rem);
}


  
  
