
@media (max-width: 6000px) { 
  html { 
    font-size: 1.3px; 
    --margin-safe-col : 56rem; 
    --max-vw : 6000rem;
    --min-vw : 2400rem;
  }
}
@media (max-width: 2400px) { 
  html { 
    font-size: 1.2px; 
    --margin-safe-col : 48rem; 
    --max-vw : 2400rem;
    --min-vw : 1920rem;
  }
}
@media (max-width: 1920px) {
  html { 
    font-size: 1.1px; 
    --margin-safe-col : 40rem; 
    --max-vw : 1920rem;
    --min-vw : 1320rem;
  }
}
@media (max-width: 1320px) {
  html { 
    font-size: 1px; 
    --margin-safe-col : 40rem; 
    --max-vw : 1320rem;
    --min-vw : 960rem;
  }
}
@media (max-width: 960px) {
  html { 
    font-size: 1px; 
    --margin-safe-col : 30rem; 
    --max-vw : 960rem;
    --min-vw : 680rem;
  }
}
@media (max-width: 680px) {
  html { 
    font-size: 1px; 
    --margin-safe-col : 18rem; 
    --max-vw : 680rem;
    --min-vw : 320rem;
  }
}
@media (max-width: 320px) {
  html { 
    font-size: 0.9px; 
    --margin-safe-col : 18rem; 
    --max-vw : 320rem;
    --min-vw : 36rem;
  }
}

html, body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust : 100%;  /* IE */
  -moz-text-size-adjust : 100%;  /* 파이어폭스 */
  -o-text-size-adjust : 100%;  /* 오페라 구버전 */
  max-width: 100%;
  overflow-x: hidden;
}


html.no-scroll {
  margin-top:0 !important
}

html.no-scroll, html.no-scroll body {
  overflow: hidden !important;
  height:100% !important
}

html.no-scroll-long {
  overflow-y:scroll !important
}