#idas {

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }



  .field-type-a, .field-type-b, .field-type-c {
    display: grid;
    margin: auto;
    height: fit-content;
    grid-template-rows: auto;
  }
  .field-type-a {
    width: 100vw;
  }


  article {
    display: flex;
  }
  
  
  
  .XXS{
    .field-type-c {
      width: 284vw;
    }
    .field-gap {
      gap: 3rem
    }
  }
  
  .XS{
    .field-type-c {
      width: 284vw;
    }
  }
  
  .S{
    .field-type-b {
      max-width: 760rem;
    }
    .field-type-c {
      width : 620rem
    }
  }
  
  .M{
    .field-type-b {
      max-width: 1080rem;
    }
    .field-type-c {
      width : calc(var(--min-vw) - var(--margin-safe-col)*2);
    }
  }
  
  .L{
    .field-type-b {
      max-width: 1280rem;
    }
    .field-type-c {
      width: 1000rem;
    }
  }
  
  .XL{
    .field-type-b {
      max-width: 1400rem;
    }
    .field-type-c {
      width: 1080rem;
    }
  }
  
  .XXL{
    .field-type-b {
      max-width: 1720rem;
    }
    .field-type-c {
      width: 1280rem;
    }
  }



















  
  .grid-test{
    display: grid; //
    // width: 600rem;
    max-width: 900rem; //
    height: fit-content; //
    margin: auto; //
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto; //
  }

  .child-1{
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    background-color: rgb(0, 255, 76);
  }
  .child-2{
    grid-area: 1 / 3 / 2 / 5;
    width: 100%;
    background-color: rgb(0, 0, 255);
  }
  .child-3{
    // position: absolute;
    grid-area: 1 / 1 / 2 / 7;
    width: 100%;
    z-index: -2;
    // height: 100%;
    background-color: rgba(148, 26, 77, 0.514);
  }



  .scrollTest {
    width: 100vw;
    height: 400rem;
    background-color: darkkhaki;
  }
  .keyBlock {
    width: 100vw;
    height: 400rem;
    background-color: rgb(47, 232, 72);
  }


  #s1f1 {
    width: 100vw;
    height: 2000rem;
    background-color: rgb(116, 39, 39);
  }
  .fieldTest00 {
    width: 100vw;
    height: 400rem;
    background-color: rgba(55, 206, 181, 0.534);
    margin-top: 30rem;
  }






















}