#idas {

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .field-type-a, .field-type-b, .field-type-c {
    display: grid;
    margin: auto;
    height: fit-content;
    grid-template-rows: auto;
  }
  .field-type-a {
    width: 100vw;
  }

  article {
    display: flex;
  }
  
  // ================================

  .block {
    width: 100%;
    height: fit-content;
    border-style: solid;
    border-width: 1rem;
    border-color: rgba(9, 212, 94, 0.781);
  }

  .simple-text {
    transition: all ease 200ms 0s;
    a {
      text-decoration: underline;
    }
    a:hover {
      color: blue;
      cursor: pointer;
    }
  }

  .simple-dictionary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: normal;
    .head {
      display: inline;
    }
    .saparator {
      display: inline;
    }
    .dictionary-key {
      display: inline;
    }
    .dictionary-value {
      display: inline;
    }
    a {
      text-decoration: underline;
    }
    a:hover {
      color: blue;
      cursor: pointer;
    }
  }

  .body-text {
    b {
      font-weight: 600;
    }
    strong {
      font-weight: 600;
      text-decoration: underline;
    }
  }
  
  .edge-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
    }
  }
  
  .cv-item {
    height: fit-content;
    // width: 300rem;
  }


  .image-container {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    img {
      width: 100%;
      height: fit-content;
    }
    .img-zoomable {
      
    }
    .img-zoomable:hover {
      cursor: pointer;
    }
    a {
      text-decoration: underline;
    }
    a:hover {
      color: var(--accent0);
    }
    svg {
      // for later update...
      fill: aqua;
    }
  }
  
  
  
  
  
  
  .idas-motto-text {
    font-family: 'Syncopate';
    font-weight: 700;
    font-size: 90rem;
    line-height: 1.2;
    letter-spacing: -0.02rem;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;

    position: relative;
    width: fit-content;
    left: -20rem;
  }
  
  
  // ================================
  
  .XXS{
    .field-type-c {
      width: 284vw;
    }
    .field-gap {
      gap: 3rem
    }
  }
  
  .XS{
    .field-type-c {
      width: 284vw;
    }
  }
  
  .S{
    .field-type-b {
      max-width: 760rem;
    }
    .field-type-c {
      width : 620rem
    }
  }
  
  .M{
    .field-type-b {
      max-width: 1080rem;
    }
    .field-type-c {
      width : calc(var(--min-vw) - var(--margin-safe-col)*2);
    }
  }
  
  .L{
    .field-type-b {
      max-width: 1280rem;
    }
    .field-type-c {
      width: 1000rem;
    }
  }
  
  .XL{
    .field-type-b {
      max-width: 1400rem;
    }
    .field-type-c {
      width: 1080rem;
    }
  }
  
  .XXL{
    .field-type-b {
      max-width: 1720rem;
    }
    .field-type-c {
      width: 1280rem;
    }
  }



















  
  .grid-test{
    display: grid; //
    // width: 600rem;
    max-width: 900rem; //
    height: fit-content; //
    margin: auto; //
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto; //
  }

  .child-1{
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    background-color: rgb(0, 255, 76);
  }
  .child-2{
    grid-area: 1 / 3 / 2 / 5;
    width: 100%;
    background-color: rgb(0, 0, 255);
  }
  .child-3{
    // position: absolute;
    grid-area: 1 / 1 / 2 / 7;
    width: 100%;
    z-index: -2;
    // height: 100%;
    background-color: rgba(148, 26, 77, 0.514);
  }



  .scrollTest {
    width: 100vw;
    height: 400rem;
    background-color: darkkhaki;
  }
  .keyBlock {
    width: 100vw;
    height: 400rem;
    background-color: rgb(47, 232, 72);
  }


  #s1f1 {
    width: 100vw;
    height: 2000rem;
    background-color: rgb(116, 39, 39);
  }
  .fieldTest00 {
    width: 100vw;
    height: 400rem;
    background-color: rgba(55, 206, 181, 0.534);
    margin-top: 30rem;
  }






















}


#idas-block-test-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20rem;
  padding: 20rem 20rem 1000rem 20rem;
}