#nav-bar {
  position: fixed;
  width: 100vw;
  height: var(--nav-top-height);
  top: 0; left: 0;
  z-index: 500;

  #nav-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .nav-top-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 1rem);
  }

  .top-cover {
    width: 100%;
    height: 100%;
    background-color: var(--backblur);
    position: absolute;
    z-index: -1;
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(.34,.25,.61,.98);
    transition-delay: 0ms;
    -webkit-backdrop-filter: blur(14rem);
    backdrop-filter: blur(13rem);
  }

  .back-cover {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: var(--backblur);
    -webkit-backdrop-filter: blur(15rem);
    backdrop-filter: blur(15rem);
  }

  .bottomline {
    width: 100%;
    height: 1px !important;
    align-self: stretch;
    background-color: var(--ink1); 
  }

  .nav-logo-gunn {
    height: fit-content;
    min-width: 90rem;
    max-width: 90rem;
  }.nav-logo-gunn:hover {
    cursor: pointer;
  }

  .nav-menu-btn {
    height: fit-content;
  }

  .nav-top-links {
    display: flex;
    align-items: flex-start;
  }
  .nav-top-links-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .text {
      transition: all ease 200ms 0s;
      color: var(--ink0);
    }
    .line {
      transition: all ease 200ms 0s;
      opacity: 0;
      align-self: stretch;
      background-color: var(--ink0);  
    }
  }
  .nav-top-links-item:hover { 
    cursor: pointer;
    .text {
      opacity: 0.72;
    }
    .line {
      opacity: 1;
    }
  }

  .nav-top-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    height: fit-content;
    gap: 8rem;
    max-width: 90rem;
    min-width: 32rem;
    padding-left: 4vw;
  }

  .btn {
    min-width: 32rem;
    max-width: 32rem;
  }

  .ntc--wide {
    padding: 0 24rem;
    position: relative;
    top: 2rem;
    .nav-top-links {
      flex-direction: row;
      gap: 54rem;
      margin-top: 20rem;
      .nav-top-links-item {
        opacity: 1;
        gap: 16rem;
        .line {
          height: 3rem;
        }
      }
      .nav-top-links-item:hover { 
        .text {
          color: var(--ink0);
        }
        .line {
          opacity: 1;
        }
      }
    }
  }
  
  .ntc--short {
    padding: 0 16rem;
    position: relative;

    .nav-logo-gunn {
      height: 22rem;
    }

    .nav-top-links {
      flex-direction: column;
      position: fixed;
      top: calc(var(--nav-top-height) + var(--safe-margin)); 
      left: 0rem;
      width: 100vw;
      height: 90%;
      padding: 0 var(--safe-margin);
    }
    .nav-top-links-item {
      gap: 10rem;
      padding-top: 10rem;
      align-self: stretch;
      .line {
        opacity: 1;
        height: 1rem;
      }
    }
    .nav-top-links-item:hover { 
      .line {
        opacity: 0.72;
      }
    }

    #nav-top-links-blank {
      width: 100%;
      height: 100%;
      background-color: aquamarine;
      opacity: 0;
      cursor: alias;
    }
  }


}