a {
  color: inherit;
  text-decoration: none;
}

.svg {
  svg {
    width: 100%;
    height: 100%;
  }
}




@mixin Line($val) {
  .line-ver-#{$val} {
    height: $val + rem;
    align-self: stretch;
    background-color: var(--black); 
  }
} @for $i from 1 through 8 {
  @include Line($i);
}


























