@use 'typography' as typo;

#prime {
  background-color: var(--i94);
  color: var(--i0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




p {
  background-color: darkslategray;
}

.test-k {
  background-color: darkseagreen;
}

.test-a {
  width: 30%;
  // height: calc(1rem + env(safe-area-inset-bottom));
  height: 1rem;
  margin: 10rem; 
  background-color: bisque;
 

  .test-b {
    width: 50rem;
    height: 50rem;
    margin: 5rem;
    background-color: rgb(179, 112, 30);
  }

}


.test-c {
  // width: calc(100vw - var(--margin-saf-col));
  height: 100rem;
  background-color: crimson;
  margin-left: var(--margin-safe-col);
  margin-right: var(--margin-safe-col);
}




.flex-container--row {
  display: flex;
  max-width: 1400px;
  padding: 10px;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;


  background-color: rgba(0, 255, 255, 0.37);

  .flex-item {
    // width: 200px;
    min-width: 200px;
    max-width: 300px;
    flex-grow: 1;
    
    text-align: center;
    background-color: tomato;
    color: white;
  }

}
















.XXS{
  @include typo.SizeAdjust('.typo-en-header1', 63rem);
  @include typo.SizeAdjust('.typo-en-header2', 56rem);
  @include typo.SizeAdjust('.typo-en-header3', 49rem);
  @include typo.SizeAdjust('.typo-en-header4', 42rem);
  @include typo.SizeAdjust('.typo-en-header5', 34rem);
  @include typo.SizeAdjust('.typo-en-header6', 27rem);
}

.XS{
  @include typo.SizeAdjust('.typo-en-header1', 64rem);
  @include typo.SizeAdjust('.typo-en-header2', 57rem);
  @include typo.SizeAdjust('.typo-en-header3', 50rem);
  @include typo.SizeAdjust('.typo-en-header4', 44rem);
  @include typo.SizeAdjust('.typo-en-header5', 36rem);
  @include typo.SizeAdjust('.typo-en-header6', 29rem);
}

.S{
}

.M{
}

.L{
  @include typo.SizeAdjust('.typo-en-header1', 114rem);
  @include typo.SizeAdjust('.typo-en-header2', 84rem);
  @include typo.SizeAdjust('.typo-en-header3', 68rem);
  @include typo.SizeAdjust('.typo-en-header4', 50rem);
  @include typo.SizeAdjust('.typo-en-header5', 38rem);
  @include typo.SizeAdjust('.typo-en-header6', 29rem);
}

.XL{
  @include typo.SizeAdjust('.typo-en-header1', 114rem);
  @include typo.SizeAdjust('.typo-en-header2', 84rem);
  @include typo.SizeAdjust('.typo-en-header3', 68rem);
  @include typo.SizeAdjust('.typo-en-header4', 50rem);
  @include typo.SizeAdjust('.typo-en-header5', 38rem);
  @include typo.SizeAdjust('.typo-en-header6', 29rem);
}

.XXL{
  @include typo.SizeAdjust('.typo-en-header1', 114rem);
  @include typo.SizeAdjust('.typo-en-header2', 84rem);
  @include typo.SizeAdjust('.typo-en-header3', 68rem);
  @include typo.SizeAdjust('.typo-en-header4', 50rem);
  @include typo.SizeAdjust('.typo-en-header5', 38rem);
  @include typo.SizeAdjust('.typo-en-header6', 29rem);
}






























// h1 {
//   color: aquamarine;
//   line-height: 1.2;
// }


// .aaaa {
//   margin: 0;

// }


// @mixin app_main($p_size) {
//   background-color: var(--i94);
//   color: var(--i0);
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   font-family: 'Inter_SD';


//   p {
//     background-color: chartreuse;
//     font-size: $p_size;
//     line-height: 1.5;
//     letter-spacing: -0.1em;
//     i{
//       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//       font-style: normal;
//     }
//   }
  
//   #uistatetest {
//     background-color: rgba(0, 0, 0, 0.288);
    
//     h4 {
//       // color: rgb(255, 196, 0);
//       background-color: rgba(0, 0, 0, 0.288);
//     }
    
//     .a {
//       background-color: rgba(42, 42, 240, 0.13);
//     }
//     .b {
//       color: rgb(234, 0, 255);
//       i {
//         color: yellow;
//       }
//     }
//   }

// }


// .en {
//   // font-family: Avenir;
// }
// .ko {
//   // font-family: Helvetica;
// }

// .M {
//   $p_size: 8em;
//   @include app_main($p_size);
// }
// .S {
//   $p_size: 7em;
//   @include app_main($p_size);
// }









