@import 'typography';

#prime {
  background-color: var(--i94);
  color: var(--i0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  // margin-block-start: 0rem;
//   margin-block-end: 0rem; // line after
//   margin-inline-start: 0rem; // line after
//   margin-inline-end: 0rem; // line after
}



.test-a {
  width: 100px;
  height: 100px;
  background-color: bisque;
}
.test-b {
  width: 0.5em;
  height: 0.5em;
  background-color: rgb(179, 112, 30);
}




.XXS{
  font-size: 85%;
}

.XS{
  font-size: 90%;
}

.S{
  font-size: 100%;
}

.M{
  font-size: 100%;
}

.L{
  font-size: 110%;
}

.XL{
  font-size: 120%;
}

.XXL{
  font-size: 130%;
}






























// h1 {
//   color: aquamarine;
//   line-height: 1.2;
// }


// .aaaa {
//   margin: 0;

// }


// @mixin app_main($p_size) {
//   background-color: var(--i94);
//   color: var(--i0);
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   font-family: 'Inter_SD';


//   p {
//     background-color: chartreuse;
//     font-size: $p_size;
//     line-height: 1.5;
//     letter-spacing: -0.1em;
//     i{
//       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//       font-style: normal;
//     }
//   }
  
//   #uistatetest {
//     background-color: rgba(0, 0, 0, 0.288);
    
//     h4 {
//       // color: rgb(255, 196, 0);
//       background-color: rgba(0, 0, 0, 0.288);
//     }
    
//     .a {
//       background-color: rgba(42, 42, 240, 0.13);
//     }
//     .b {
//       color: rgb(234, 0, 255);
//       i {
//         color: yellow;
//       }
//     }
//   }

// }


// .en {
//   // font-family: Avenir;
// }
// .ko {
//   // font-family: Helvetica;
// }

// .M {
//   $p_size: 8em;
//   @include app_main($p_size);
// }
// .S {
//   $p_size: 7em;
//   @include app_main($p_size);
// }









